body {
    background-color: white;
    color: black;
  }
  
  .app {
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .app-header {
    height: 350px;
    width: inherit;
    object-fit: cover;
    font-family: "Pavanam";
  }