body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.Home {
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.nav {
  background: black;
  height: 50px;
  width: 100%;
  padding: 0;
  margin-top: 30px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.navButton {
  color: white;
  text-decoration: none;
  float: right;
  padding-right: 15px;
  font-size: 18px;
  margin-top: 13px;
}

.phone {
  margin-left: 72%;
  color: #383838;
}

.contact {
  text-align: center;
}

.emailRequest {
  text-align: left;
  padding-left: 30px;
}

.emailForm {
  align-content: left;
  width: 100px;
  height: 165px;
  padding-left: 30px;
}

#emailButton {
  width: 200px;
  height: 35px;
  background: black;
  color: white;
  padding-top: 10px;
  font-size: 14px;
  border-radius: 4px;
}

#enterEmail {
  width: 250px;
  height: 25px;
  border-radius: 3px;
}

.distLogo {
  height: 60px;
  width: 70px;
  padding-right: 20px;
}

.goal {
  margin: 0;
  width: 100%;
  height: 175px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.dp {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.mission {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: lightgray;
  font-size: 17px;
}

.about {
  background: black;
  height: 100%;
}

.aboutLogo {
  display: block;
  float: right;
  width: 373px;
  height: 373px;
  padding-left: 5px;
  padding-right: 5px;
}

.aboutHeader {
  padding-top: 15px;
  text-align: center;
  color: white;
}

.aboutInfo {
  text-align: left;
  font-size: 17px;
  margin-left: 25px;
  margin-right: 25px;
  color: lightgray;
}

.humboldt {
  display: block;
  padding-left: 350px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 333px;
  height: 250px;
}

.modal {
  background: black;
  color: white;
  border-radius: 10px;
  margin-left: 280px;
  height: 600px;
  width: 900px;
  font-size: 40px;
  position: fixed;
}

.modalLogo {
  height: 350px;
  width: 350px;
  margin: 35px;
  padding-left: 2px;
}

.shopContainer {
  width: 800px;
  margin: 10px auto;
  padding: 30px;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 30px 30px;
  text-align: center;
}

.news {
  width: 200px;
  height: 50px;
  background-color: green;
  padding: 15px;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
}
// added transition property to blinking news component
.news:hover {
  width: 400px;
}

span {
  font-size: 25px;
  font-family: cursive;
  color: white;
  animation: blink 1s linear infinite;
}
