body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0
  }

.Home {
  margin: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.nav {
    background: black;
    height: 40px;
    width: 100%;
    padding: 0;
    margin-top: 80px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navButton {
  color: white;
  text-decoration: none;
  float: right;
  padding-right: 10px;
  font-size: 18px;
}

.phone {
  margin-left: 72%;
}

.contact {
  text-align: center;
}

.distLogo {
  height: 60px;
  width: 70px;
  padding-right: 20px;
}

.goal {
  margin: 0;
  width: 100%;
  height: 175px;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.dp {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.mission {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgray;
  font-size: 17px;
}